body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header{
  padding: 50px;
  width: 500px;
  border: 2px solid rgb(165, 152, 152);
  color: blue;

}
.header saver{
  float: right;
}
label.one {
 
  padding-left: 10px;
}
label.two {
  padding-left: 10px;
}
p{
  float: right;
}
/* table.tabler{
  border: 1px rgb(165, 150, 150) solid;
} */

table tr th{
  
  padding-left: 90px;

}